# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from keras.layers import Dense
from keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn import svm
from pandas.tseries.offsets import DateOffset
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

Using TensorFlow backend.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [9]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [11]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns="EIN")
applicant_data_df = applicant_data_df.drop(columns="NAME")

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [12]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)


# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [15]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
display(encoded_data)

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [16]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

/Users/angelarichter/opt/anaconda3/envs/dev/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [17]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df_nn = pd.concat([applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]], encoded_df], axis=1)

# Review the Dataframe
encoded_df_nn.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [18]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df_nn['IS_SUCCESSFUL']


# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [19]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df_nn.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Columns: 116 entries, STATUS to SPECIAL_CONSIDERATIONS_Y
dtypes: float64(114), int64(2)
memory usage: 30.4 MB

### Step 6: Split the features and target sets into training and testing datasets.

In [20]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [21]:
# Create a StandardScaler instance
scaler = StandardScaler().fit(X_train)


# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [22]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [23]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [24]:
# Define the number of hidden nodes for the first hidden layer

hidden_nodes_layer1 =  4

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

4

In [25]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

2

In [26]:
# Create the Sequential model instance
nn = Sequential()

In [27]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

2022-04-25 17:22:24.814551: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-04-25 17:22:24.815955: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [28]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [29]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [30]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 4)                 468
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 10
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 3
=================================================================
Total params: 481
Trainable params: 481
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [31]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Fit the model using 50 epochs and the training data
model1 = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 2s 70us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 2/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 3/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 4/50
25724/25724 [==============================] - 1s 50us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 5/50
25724/25724 [==============================] - 1s 51us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 6/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 7/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 8/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 9/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 10/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 11/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 12/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 13/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 14/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 15/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 16/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 17/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 18/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 19/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 20/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 21/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 22/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 23/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 24/50
25724/25724 [==============================] - 1s 52us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 25/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 26/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 27/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 28/50
25724/25724 [==============================] - 2s 66us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 29/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 30/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 31/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 32/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 33/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 34/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 35/50
25724/25724 [==============================] - 1s 50us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 36/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 37/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 38/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 39/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 40/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 41/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 42/50
25724/25724 [==============================] - 1s 52us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 43/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 44/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 45/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 46/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 47/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 48/50
25724/25724 [==============================] - 1s 54us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 49/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 50/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [33]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=3)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 3.6861632567870024, Accuracy: 0.4360349774360657

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [34]:
# Set the model's file path
from pathlib import Path

file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path, "AlphabetSoup.h5")

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

12

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = 6

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

6

In [39]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [40]:
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 12)                1404
_________________________________________________________________
dense_5 (Dense)              (None, 6)                 78
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 7
=================================================================
Total params: 1,489
Trainable params: 1,489
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 2s 70us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 2/50
25724/25724 [==============================] - 1s 45us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 3/50
25724/25724 [==============================] - 1s 44us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 4/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 5/50
25724/25724 [==============================] - 1s 46us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 6/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 7/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 8/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 9/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 10/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 11/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 12/50
25724/25724 [==============================] - 1s 50us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 13/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 14/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 15/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 16/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 17/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 18/50
25724/25724 [==============================] - 1s 50us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 19/50
25724/25724 [==============================] - 1s 51us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 20/50
25724/25724 [==============================] - 1s 55us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 21/50
25724/25724 [==============================] - 1s 51us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 22/50
25724/25724 [==============================] - 1s 51us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 23/50
25724/25724 [==============================] - 1s 50us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 24/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 25/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 26/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 27/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 28/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 29/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 30/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 31/50
25724/25724 [==============================] - 1s 53us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 32/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 33/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 34/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 35/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 36/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 37/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 38/50
25724/25724 [==============================] - 1s 48us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 39/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 40/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 41/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 42/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 43/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 44/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 45/50
25724/25724 [==============================] - 1s 47us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 46/50
25724/25724 [==============================] - 1s 49us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 47/50
25724/25724 [==============================] - 1s 52us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 48/50
25724/25724 [==============================] - 1s 54us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 49/50
25724/25724 [==============================] - 1s 55us/step - loss: 8.2288 - accuracy: 0.0000e+00
Epoch 50/50
25724/25724 [==============================] - 1s 55us/step - loss: 8.2288 - accuracy: 0.0000e+00

#### Alternative Model 2

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

20

In [46]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 10
# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

10

In [48]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = 5
# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A2

5

In [47]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [49]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))


# Output layer
nn_A2.add(Dense(units=number_output_neurons, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 20)                2340
_________________________________________________________________
dense_8 (Dense)              (None, 10)                210
_________________________________________________________________
dense_9 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 6
=================================================================
Total params: 2,611
Trainable params: 2,611
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train, y_train, epochs=60)

Epoch 1/60
25724/25724 [==============================] - 2s 77us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 2/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 3/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 4/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 5/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 6/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 7/60
25724/25724 [==============================] - 2s 61us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 8/60
25724/25724 [==============================] - 1s 58us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 9/60
25724/25724 [==============================] - 2s 70us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 10/60
25724/25724 [==============================] - 1s 54us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 11/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 12/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 13/60
25724/25724 [==============================] - 1s 57us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 14/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 15/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 16/60
25724/25724 [==============================] - 1s 49us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 17/60
25724/25724 [==============================] - 1s 50us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 18/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 19/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 20/60
25724/25724 [==============================] - 1s 53us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 21/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 22/60
25724/25724 [==============================] - 2s 61us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 23/60
25724/25724 [==============================] - 1s 50us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 24/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 25/60
25724/25724 [==============================] - 1s 57us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 26/60
25724/25724 [==============================] - 2s 58us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 27/60
25724/25724 [==============================] - 1s 56us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 28/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 29/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 30/60
25724/25724 [==============================] - 1s 54us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 31/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 32/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 33/60
25724/25724 [==============================] - 1s 50us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 34/60
25724/25724 [==============================] - 1s 49us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 35/60
25724/25724 [==============================] - 1s 49us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 36/60
25724/25724 [==============================] - 3s 104us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 37/60
25724/25724 [==============================] - 1s 49us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 38/60
25724/25724 [==============================] - 1s 49us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 39/60
25724/25724 [==============================] - 1s 50us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 40/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 41/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 42/60
25724/25724 [==============================] - 1s 50us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 43/60
25724/25724 [==============================] - 1s 54us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 44/60
25724/25724 [==============================] - 1s 55us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 45/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 46/60
25724/25724 [==============================] - 1s 50us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 47/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 48/60
25724/25724 [==============================] - 1s 51us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 49/60
25724/25724 [==============================] - 2s 70us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 50/60
25724/25724 [==============================] - 2s 58us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 51/60
25724/25724 [==============================] - 2s 59us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 52/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 53/60
25724/25724 [==============================] - 1s 53us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 54/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 55/60
25724/25724 [==============================] - 1s 53us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 56/60
25724/25724 [==============================] - 1s 53us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 57/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 58/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 59/60
25724/25724 [==============================] - 1s 52us/step - loss: 7.1534 - accuracy: 0.0000e+00
Epoch 60/60
25724/25724 [==============================] - 2s 76us/step - loss: 7.1534 - accuracy: 0.0000e+00

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [52]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=3)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
Loss: 3.6861632567870024, Accuracy: 0.4360349774360657

In [53]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=3)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
Loss: 5.933731329058767, Accuracy: 0.383323609828949

In [54]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=3)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
Loss: 1.3588923621803262, Accuracy: 0.48373177647590637

### Step 3: Save each of your alternative models as an HDF5 file.

In [55]:
# Set the file path for the first alternative model
file_path1 = Path("./Resources/Alt1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path1, "Alt1.h5")

In [56]:
# Set the file path for the second alternative model
file_path2 = Path("./Resources/Alt2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path2, "Alt2.h5")